body {
    padding: 0px;
    margin: 0px;
    color:#4c6492;
    font-family: 'Poppins', sans-serif;
    background-color: #ccced3;
}

nav {
    list-style-type: none;
    background-color:#1352cf;
    margin: 0px;
    padding: 5px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

.logo a {
    color:#9cacca;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    width: 35%;
    list-style-type: none;
    border-style: none;
    border-radius: 8px;

}

.navlinks a {
    color: rgb(202, 202, 202);
    text-align: center;
    border-style: none;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15x;
}


.main {
    display: grid;
    margin: 0px;
    padding: 0px;
    justify-items: center;
}

.content {
    background-color: #bac4d894;
    border-style: none;
    border-radius: 5px;
    height: auto;
    width: auto;
    padding: 10px;
    margin: 10px;
}

.box {
    background-color: #9cacca;
    border-style: none;
    border-radius: 5px;
    height: auto;
    width: 800px;
    padding: 0px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contentbanner {
    width: 100%;
    height: auto;
    text-align: center;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(217, 195, 228);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:825px){
    .navlinks {
        width: 60%;
    }
}

@media screen and (max-width:825px){
    body {
        overflow-x: hidden;
    }

@media screen and (max-width:825px) {
    .box {
        width: 95%;
    }
    .content {
        width: 95%;
    }
    .contentbanner {
        width: 95%;
    }
}

    .navlinks {
        position: absolute;
        right: 0px;
        height: 32vh;
        top: 8vh;
        display: flex;
        background-color: #526da1;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .navlinks li {
        opacity: 0;
    }
    
    .burger {
        display: block;
    }
}



.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.aboutpic {
    justify-self: center;
}